# PROYEK MATAKULIAH DATA MINING
## Regression Problem from Case and Cost Prediction using Random Forest
### KELOMPOK 4
### 12S18020 - Dita L. Sastri Sihombing
### 12S18029 - Estomihi Rascana Sirait
### 12S18061 - Angela Friscilia Simamora

In [1]:
#Importing necessary Libraries
import numpy as np
import pandas as pd

In [2]:
casecostprediction = pd.read_csv('D:/Materi Kuliah/Jupyter Notebook/Proyek 4 DAMI/Data/case_cost_prediction_train.csv')

In [3]:
casecostprediction

,row_id,tglpelayanan,kddati2,tkp,peserta,a,b,c,cb,d,...,kp,kt,ku,s,sa,sb,sc,sd,case,unit_cost
0,1,2014-04-01 00:00:00,332,40,179530,0,0,1,0,1,...,0,0,0,0,0,0,0,0,266,3.597440e+06
1,2,2016-11-01 00:00:00,54,40,104782,0,1,0,0,0,...,0,0,1,0,0,0,1,1,2453,4.951008e+06
2,3,2016-05-01 00:00:00,323,30,280645,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1690,1.984208e+05
3,4,2018-11-01 00:00:00,318,40,178685,0,1,0,0,0,...,0,0,0,0,0,0,0,3,1321,4.008756e+06
4,5,2019-10-01 00:00:00,150,30,1199321,1,0,1,0,0,...,1,0,0,0,0,1,0,5,73056,3.072272e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57966,57967,2019-03-01 00:00:00,241,40,157213,0,0,1,0,0,...,0,0,0,0,0,0,0,0,410,3.443332e+06
57967,57968,2019-09-01 00:00:00,338,30,402173,0,0,1,0,0,...,0,0,0,0,0,0,0,0,8272,2.128621e+05
57968,57969,2016-06-01 00:00:00,241,40,99401,0,0,1,0,0,...,0,0,0,0,0,0,0,0,294,3.028611e+06
57969,57970,2018-01-01 00:00:00,147,40,509495,0,0,1,0,0,...,0,0,0,0,0,0,2,0,1983,3.629365e+06
57970,57971,2016-09-01 00:00:00,204,30,770169,0,1,1,0,0,...,0,0,0,0,0,1,2,1,16679,2.956852e+05